/* Transparent icon styles for PWA installation */
.icon-transparent {
  background-image: url('./icon-512x512.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: transparent;
  mask-image: url('./icon-512x512.png');
  -webkit-mask-image: url('./icon-512x512.png');
  mask-size: contain;
  -webkit-mask-size: contain;
  mask-repeat: no-repeat;
  -webkit-mask-repeat: no-repeat;
  mask-position: center;
  -webkit-mask-position: center;
}

/* For PWA installation icon transparency */
.pwa-install-icon {
  width: 512px;
  height: 512px;
  background: transparent;
  position: relative;
}

.pwa-install-icon::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('./icon-512x512.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 1;
  mix-blend-mode: normal;
  isolation: isolate;
}
